body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  .jumbotron {
    background-color: white;
  }
  main p {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }